{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="container"style="overflow-y:scroll;height: 90vh;margin-top: 90px;">
            <div class="text-center">
                    <h1>Businesses in your hood</h1>
                </div>
            <a href="{% url 'new_business' %}" class="btn btn-primary">New Business?</a>
        {% if businesses %}
   
                
                    {% for business in businesses %}
                   
                        <div class="col-md-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h2 class="card-title">{{business.name}}</h2>
                                        <p class="card-text">{{business.description}}</p>
                                        <p class="card-text">{{business.user}}</p>
                            
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else%}
        <h1 class="text-center">No business available.</h1>
        {% endif%}
       
    </div>
{% endblock %}